{% extends "DuesBundle::template.html.twig" %}

{% block content -%}
    <h1>{% trans %}Due list{% endtrans %}</h1>

    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Holder_id</th>
                <th>Debtor_id</th>
                <th>Start_date</th>
                <th>Intrest_start</th>
                <th>Intrest_rate</th>
                <th>Due_list_id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('due_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.amount }}</td>
                <td>{{ entity.holderid }}</td>
                <td>{{ entity.debtorid }}</td>
                <td>{% if entity.startdate %}{{ entity.startdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.intreststart %}{{ entity.intreststart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.intrestrate }}</td>
                <td>{{ entity.duelistid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('due_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('due_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('due_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
